body {
    background: white;
    color: black;
}

nav {
    background: white;
    
}

#Destacados .imagen-top{
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

