body {
    background:coral;
    color: black;
}

nav {
    background: brown;
}

#Destacados .imagen-top{
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

